<html ng-app="RestMockeryPanel" ng-csp="">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">
    // 3rd party
    <script src="assets/javascripts/logger.js"></script>
    <script src="vendor/assets/javascripts/jquery-1.8.3.min.js"></script>
    <script src="vendor/assets/javascripts/jquery-ui-1.9.2.tabs.min.js"></script>
    <script src="vendor/assets/javascripts/stupidtable.min.js"></script>
    <script src="vendor/assets/javascripts/sugar-1.3.6.min.js"></script>
    <script src="vendor/assets/javascripts/sprintf-0.7-beta1.js"></script>
    <script src="vendor/assets/javascripts/URI.min.js"></script>
    <script src="vendor/assets/javascripts/keymaster.min.js"></script>
    <script src="vendor/assets/javascripts/ansi2html.js"></script>
    <script src="vendor/assets/javascripts/angular.min.js"></script>

    // the app
    <script src="assets/javascripts/filters.js"></script>
    <script src="assets/javascripts/transactions.js"></script>
    <script src="assets/javascripts/standalone.js"></script>
    <script src="assets/javascripts/dividers.js"></script>
    <script src="assets/javascripts/panel.js"></script>
    <script src="assets/javascripts/requests.js"></script>
    <script src="assets/javascripts/init.js"></script>

  </head>
  <body class="rest-panel">
    <div class="split-view" ng-controller='TransactionsCtrl'>
      <div class="split-view-contents split-view-contents-requests">
        <div class="data-grid data-grid-requests">
          <table class="header">
            <tr>
              <th class='status'>Status</th>
              <th class='controller'>Controller#Action</th>
              <th class='method'>Method</th>
              <th class='format'>Format</th>
              <th class='duration'>Resp. Time</th>
            </tr>
          </table>
          <div class="data-container">
            <table id="requests">
              <tr ng-repeat="request in requests()" ng-click="setActive(request.key)" ng-class="getClass(request.key)">
                <td class='status'>{{request.payload.status}}</td>
                <td class='controller'>{{request.payload.controller}}#{{request.payload.action}}</td>
                <td class='method'>{{request.payload.method}}</td>
                <td class='format'>{{request.payload.format}}</td>
                <td class='duration'>{{request.duration | number:0}} ms</td>
              </tr>
              <tr class="filler">
                <td class='status'></td>
                <td class='controller'></td>
                <td class='method'></td>
                <td class='format'></td>
                <td class='duration'></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="split-view-contents split-view-contents-details">
      </div>
    </div>
  </body>
</html>
